h1
{
    color: brown;
    border:10px solid black;
}
p
{
    font-size: 30px;
}
h2
{
color: brown;
border: 10px solid black;
}
body
{
    background-image: url(IMG-20240826-WA0111.jpg);
}
table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100px;
}
td, th
{
    border: 2px solid black;
    text-align: left;
    padding: 40px;
    background-color:antiquewhite;
}
tr:nth-child(even)
{
background-color: aquamarine;
}
div{
    width: 30%;
    display: inline-block;
}
#myheader {
background-color: aqua;
color: black;
padding: 40px;
text-align: center;
}
iframe{
    color: blueviolet;
}